[2016-04-30 12:37] samuelbrooks opened #2 "Doesn't work with Apple Music"
It works great if you're playing from a local library but doesn't seem to work with Apples subscription service (show's a black bar instead). Although I think this is on Apple as last time I checked this was a limitation with their own service.

Otherwise awesome script!

[2016-05-02 01:18] fishbiscuit13 commented on #2
Are you sure you also copied the other files in the "as" folder (default.png, Get Current Track.applescript, and songMeta.plist)? Because it's working for an Apple Music song for me right now.

[2016-05-02 09:26] samuelbrooks commented on #2
Yea it's defiantly all in there. Weird, I must have something interfering with it. I just noticed the styling for the text also isn't right (when playing from local library).

Here's some screens if you have any advice that would be awesome otherwise all good! :)

http://imgur.com/a/TVbDA

[2016-05-02 09:33] fishbiscuit13 commented on #2
Well, the text just looks like that because it _isn't_ styled. Just put a "font-family whatever" in the .text section. And you're sure the as folder is in the same directory (and level) as index.coffee? Unless you've edited it, I can't see why it wouldn't work, it did right away for me.

[2016-05-02 09:40] samuelbrooks commented on #2
Oh, haha. I didn't even check to actually see if it already had a preset font style. That's fine now :)

Yea it defiantly is http://i.imgur.com/zE45Wwl.jpg. Your script would totally be fine, it's probably something else I have installed messing with it. Thanks anyway!

[2016-05-02 15:29] seansellek opened #3 "Syntax error upon installation"
I'm receiving the following error when using Playbox:

`2077752445:1 SyntaxError: Unexpected identifier 'Object'. Expected either a closing ']' or a ',' following an array element.`

I haven't dove in very deep, but I'll try to find the cause of the issue today.

[2016-05-04 05:55] Pe8er commented on #2
@samuelbrooks I'm sorry I can't help man, I don't use Apple Music. Although since it seems to work just fine for @fishbiscuit13, there must be something fishy going on. I did have an issue with text not being styled properly like on your screenshots and restarting Ubersicht helped. Let me know!

[2016-05-04 16:53] Pe8er commented on #3
Thank you for the report. I found this issue sometime ago, but never felt like looking into it. Thanks for the kick :) I just pushed an update that fixes this problem. Check it out and let me know how it works for you.

[2016-05-04 19:08] seansellek commented on #3
Nice! works well now

[2016-05-04 19:33] #3 closed

[2016-05-10 00:15] lukellyk opened #4 "Default Font/No Font config?"
<img width="204" alt="screen shot 2016-05-10 at 10 14 59 am" src="https://cloud.githubusercontent.com/assets/12542270/15131980/1495e58e-1698-11e6-9971-b140b13e589f.png">

I don't like this ugly font. How do I fix it?

[2016-05-11 20:42] samuelbrooks commented on #2
Not a problem man! It's defiantly something on my system. I tried restarting it but I ended up just putting my own font styles in and it did the trick. I'll post back if it turns out to be something else.

Thanks for making such a clean widget by the way! You're the first developer I've seen to setup such an easy way to change positions.

[2016-05-11 22:52] Pe8er commented on #2
Haha thanks man, maybe that's because I'm not _really_ a developer 😬 This is a good day, it turns out there are good things about trying to code without having the right brain to code!

[2016-05-11 22:52] #2 closed

[2016-05-13 20:22] Pe8er commented on #4
@lukellyk thanks for reporting! What is your OS X version?

[2016-05-13 20:25] #4 closed

[2016-05-15 23:19] lukellyk commented on #4
I have downloaded the latest version and it continues to display like this... I am running Yosemite

[2016-05-16 16:56] Pe8er commented on #4
It might be an issue with Yosemite, although I can't test it myself, all my computers are running El Capitan. I'm sorry man, I can't help you.

[2016-05-16 23:12] lukellyk commented on #4
I think it is due to yosemite lacking the 'San Francisco' font which you are using

[2016-05-17 04:21] Pe8er commented on #4
I don't think so…I specified in CSS to use the system font, whatever that is on your OS:

`font-family system, -apple-system`

Looks like it doesn't work in Yosemite. I've just added a Helvetica Neue fallback - download the newest version and see if it works for you.

[2016-06-15 06:24] katacarbix opened #5 ""Missing art" icon flickers every refresh, backdrop filter not working"
I guess this is 2 issues in one. First, every second (when the widget refreshes) the missing art icon with the music note flickers black. This doesn't happen when there's artwork found for the current song. Secondly, the `-webkit-backdrop-filter` property doesn't work for me. It works in Safari, but not when the widget is displayed.

[2016-06-15 18:32] Pe8er commented on #5
Thanks for the report. Which version of OS and Ubersicht are you on?

[2016-06-16 04:21] katacarbix commented on #5
OS X 10.10.5, Übersicht 0.9 (39)

[2016-06-16 17:58] Pe8er commented on #5
OK, let's try a couple things:

1. Please update to 0.9 (40).
2. Open debug console and see if it's showing any errors for the widget.

[2016-06-17 03:05] katacarbix commented on #5
Ok so I think I found what's going on with the image. Upon looking in the images path of the resources section, I noticed that it loads the default art image from the file every refresh cycle and adds it to the pile of resources. Still unsure about the `backdrop-filter` property, though it's probably finicky as it's experimental.

[2016-06-19 03:38] xxJuiceboxx1 opened #6 "Playbox not showing up?"
Running el capitan 10.11.5 and i'm not seeing the actually playbox anywhere on my screen. Any ideas why this is happening?

[2016-06-19 22:54] reatgcr0wn commented on #6
Running el capitan 10.11.5 and the same problem has occurred.
'Playbox.widget/as/Get Current Track.applescript' gives me the error:
"Expected end of line, etc. but found identifier"

[2016-06-19 22:58] xxJuiceboxx1 commented on #6
I get an error on like 4172:71

"       return contentEl.innerHTML = error, console.error(implementation.id + ":", error), rendered=!1;"

[2016-06-22 20:01] Corgi commented on #6
Getting the same issue as reatgcr0wn, "Expected end of line, etc. but found identifier".

[2016-06-23 21:30] Pe8er commented on #6
Hmm, strange! Let's look into it.

1. Which version of Ubersicht are you guys running? The latest is 0.9 (40).
2. Can you please navigate to `Playbox.widget/as/`, open `Get Current Track.applescript` in Script Editor and run it? Try it when there is music playing (either Spotify or iTunes should be fine)

[2016-06-23 22:20] Pe8er commented on #5
Good observation! I think I managed to change the code so it doesn't load that image on every refresh. Download the latest version to check it out.

Regarding `backdrop-filter` property — yeah, it is quite erratic at times. Guess we have to live with it for now.

[2016-06-25 11:12] xxJuiceboxx1 commented on #6
I'm running the latest version of ubersicht and when manually doing it like the way you outlined i am getting the playbox widget, but the positioning is weird and the album artwork is not showing up

[2016-06-25 18:25] Wes974 commented on #6
I got the same problem. I'm running the latest version of Ubersicht (0.9 (40)). When I run `Get Current Track.applescript` in `Playbox.widget/as/` in the Script Editor I got this :

`"Hans Zimmer & Junkie XL ~ Is She with You? ~ Batman v Superman: Dawn of Justice (Original Motion Picture Soundtrack) [Deluxe Edition] ~ ☆☆☆☆☆ ~ 346,743011474609 ~ 2,400000095367 ~ NA"`

This was the music currently p

[2016-06-25 19:00] Wes974 commented on #6
Ok I solved it xDDD
I opened the Debug Console of Ubersicht and saw this message :
`osascript: OpenScripting.framework - scripting addition "/Library/ScriptingAdditions/Adobe Unit Types.osax" cannot be used with the current OS because it has no OSAXHandlers entry in its Info.plist.`

 So by looking a bit, I've found this : https://helpx.adobe.com/archive/photoshop/photoshop-cs4-troubleshooting.pdf

[2016-06-28 06:04] Corgi commented on #6
Running .9 Ubersicht. I found if I manually removed this section

[code]

and ran the script while iTunes was playing, the widget appears on the desktop and I would get this output:

Running the script as-is, it would ask me for the location of Spotify and then give me the previous error. I don't have Spotify installed at all, which seems like a likely reason for the issue.

[2016-07-07 22:18] Pe8er commented on #6
Yes, this is the problem. It seems like fixing it in Applescript is a little more convoluted than one may expect…I'm looking into it.

[2016-07-07 23:29] Pe8er commented on #6
Update: I may have fixed it! Please download the latest version: https://github.com/Pe8er/Playbox.widget/blob/master/Playbox.widget.zip

[2016-07-08 03:58] #5 closed

[2016-07-18 20:33] dubstrike opened #8 "Don't hide Playbox when a track is paused"
I sometimes pause my music for a long time and forget what I was listening to. It would be great if the widget did not disappear when the `track progress > 0%`.

[2016-07-18 20:34] dubstrike commented on #8
#### Sidenote:

Loving your widgets, @Pe8er! Great job. 👏  I'm a bit sad about the `border-radius` and `-webkit-backdrop-filter` overflow bug in WebKit, but that's minor.

I modified the widget to snap to the bottom corner and it sits there nicely below my windows. Too bad there is no way to disable transparency without it affecting the dock and menubar. It would look much better.

![mod](http://d

[2016-07-19 15:01] kbecker87 opened #9 "No Playbox visible, „[Error] Failed to load resource“"
Hi!

Playbox does not show up for me (the applescipt works fine). Übersicht Console show the following:

[code]

Any Idea why it does not work?

![](http://i.imgur.com/tjZnWbn.png)

[2016-07-19 17:47] Pe8er commented on #8
Thanks for feedback! If you want the widget to not hide when music is paused, as you probably already figured out, you need to remove this if block, starting in line 167:

`if output.length == 0`

My bad, sorry. I've updated the widget and now it positions correctly when you set `stickInCorner` to `true`.

What do you mean by 'disable transparency'?

[2016-07-19 17:48] #6 closed

[2016-07-19 17:50] Pe8er commented on #9
Hmmm, I'm not sure what is happening here. Let's troubleshoot.

1. Do you have the newest Ubersicht version? It's 1.0(42)
2. Which OS X are you on?
3. Can you paste the output from the Applescript here please?

[2016-07-19 19:00] dubstrike commented on #8
Yes, I've figured that out later. It's how Bowtie behaved and I found it useful.

I meant transparency in OS X.

[2016-07-19 19:33] kbecker87 commented on #9
1. I’m using the newest beta by Felix (see [here)](https://github.com/felixhageloh/uebersicht/issues/217)
2. I’m on 10.11.6 final
3. That’d be

`"DJ Shadow ~ Midnight In A Perfect World (Warrior Mix) ~ The Ultimate Collection ~ 1.56,.029.006.958.008 ~ 7,.638.999.938.965 ~ http://img2-ak.lst.fm/i/u/300x300/a3861591ee054c6699a6bf8a4920ed43.png"`

Thanks for looking into the issue!

[2016-07-19 22:35] Pe8er commented on #9
Got it. The problem lies with the AppleScript. I'll get back to you with a fix.

[2016-08-04 07:25] kbecker87 commented on #9
Hi Piotr,

did you have time to look into the issue? Can you explain why it does work for most but not in my case? I’m eager to know whats different with my setup 😉

Greetings,
Karl

[2016-08-04 17:54] Pe8er commented on #9
Hey man, I'm sorry I got caught up with work. I haven't finished fixing it yet. I know what's wrong though! Thanks for the kick, I'll try to get it done ASAP.

[2016-08-04 17:57] #8 closed

[2016-09-22 17:40] Pe8er commented on #9
@kbecker87 can you please tell me what do you have set in:

- System Preferences > Language & Region >
  - Region
  - Advanced > Number Separators

[2016-09-23 06:47] kbecker87 commented on #9
Hi @Pe8er, my Region is `Germany (Custom)` and my number separators are:

* Grouping: `.`
* Decimal: `,`

[2016-10-11 03:54] Alutun commented on #9
Same issue here =) can give information if can help

[2016-10-11 17:08] Pe8er commented on #9
Thanks guys. I know how to fix it, I just need to find some spare time. Please bear with me!

[2016-12-20 20:02] vanshady opened #14 "Use Spotify's own API for album cover when listening to Spotify"
https://developer.spotify.com/web-api/get-album/

[2017-01-17 23:50] noiis commented on #14
Please, at least let that option available to user to choose.
Half of my albums are not currently available by the currently last.ft API.

[2017-01-20 22:23] Pe8er commented on #14
Hey guys,

Sorry for the late reply. I've just implemented this change: Spotify songs will now get artwork from Spotify API. Please test and let me know if you see anything odd.

https://github.com/Pe8er/Playbox.widget/raw/master/Playbox.widget.zip

[2017-01-21 07:56] kbecker87 commented on #9
Hi there! I just wanted to check if there is something new to this issue =)

[2017-01-24 21:43] noiis commented on #14
@Pe8er Played a bunch of tracks, getting all albums covers now. Thanks!

[2017-01-25 04:06] #14 closed

[2017-03-06 19:09] ezadoo commented on #9
Have you found a fix for this issue? Or is there a bigger problem?

[2017-04-15 23:38] Henthor opened #15 "Progress bar issue"
Great work with this. Progress bar doesn't seem to work for me though. It simply doesn't appear when playing a song. I've also tried your Sidebar widget and dionmunk's "Now Playing" widget based on your script. There I only get a full white bar, but it doesn't show the song's progression. Running on osx sierra 10.12.4 with newest version of übersicht (1.1). Do you know what might cause this issue?

[2017-04-26 00:04] wcolemorris commented on #9
Also checking in for an update to this issue!  Would love to switch back to this if you can fix the lack of appearance for iTunes.

Running Sierra

[2017-04-27 17:23] wcolemorris commented on #9
Hey everybody, wanted to provide a fix that helped me.

After digging around with Dion and his Now Playing widget, I found that the included AppleScript was hanging because it couldn't find Spotify on my machine (I only had iTunes installed).

Try installing Spotify for desktop and then reloading Ubersicht.  These widgets pull from each but it seems as of right now installation isn't optional, onl

[2017-04-27 17:42] wcolemorris commented on #9
Hey Pe8er,

Is there a way to pass that duration value to the delay command so the info persists for the length of the song?

I'd love to have the delay last the length of the song minus say 500ms for a fade out and then start over with the fade in when the song switches.

Unfortunately seems like values[3] isn't initialized until after that delay command.

[2017-04-27 18:22] kbecker87 commented on #9
Hi @wcolemorris, thanks for your suggestion. I wanted to let you know that installing spotify unfortunately didn´t solve the problem for me.

[2017-04-27 18:36] Pe8er commented on #9
Hey guys,

Sorry for the silence. I'm aware that absence of Spotify creates an issue, but unfortunately I haven't been able to find an elegant solution to it yet.

@wcolemorris I like the song duration - delay idea. I'll look into it.

[2017-05-20 22:01] Pe8er commented on #15
Hi there! Thank you for your kind words. What is your system region set to?

[2017-05-22 18:00] Ickerday commented on #15
Hiya, I got the same problem; also using dionmunk's fork.
I'm running the widget with übersicht 1.1 and macOS Sierra 10.12.5. My system region and language is set to Polish.
I ran `osascript 'Library/Application Support/Übersicht/widgets/now-playing.widget/lib/getTrack.applescript'` command that both widgets get the metadata in index.coffee with repeatedly, and it does appear it's returning all th

[2017-05-23 23:57] Pe8er commented on #15
@Henthor @Ickerday I may have fixed this! Please download the newest version and let me know:

https://github.com/Pe8er/Playbox.widget/raw/master/Playbox.widget.zip

@Ickerday dzięki wielkie za skrinszoty 😄

[2017-05-23 23:58] Pe8er commented on #9
Progress bar issue _might have been_ fixed. Please test:

https://github.com/Pe8er/Playbox.widget/raw/master/Playbox.widget.zip

[2017-05-24 10:03] kbecker87 commented on #9
After installing Spotify and using the new version Pe8er posted above I’m getting another error and no playbox widget showing up:

[code]

[2017-05-24 15:31] Pe8er commented on #9
@kbecker87 it seems like your problem is not related to the progress bar or Spotify being installed… I'm afraid it's beyond my capabilities. @felixhageloh could you please take a peek?

[2017-05-25 08:03] Ickerday commented on #15
Yup, seems to be fixed! Cheers!

![screen1](https://cloud.githubusercontent.com/assets/12597189/26441563/3eb15dac-4131-11e7-9c6e-b34f5211a4ef.png)

![screen2](https://cloud.githubusercontent.com/assets/12597189/26441554/2e4b8154-4131-11e7-8ab1-faa60c008a58.png)

@Pe8er no pewnie. :)

[2017-05-25 15:44] #15 closed

[2017-05-28 14:52] felixhageloh commented on #9
Are there more details on the error - like when  running the command / apple script separately in the terminal?
It is hard for me to test because I don't have spotify

[2017-05-29 16:56] ACPixel opened #16 "As of yesterday Spotify covert api was working, now its a 401 http error"
title should say it all, but as of, I guess today, you need an api key for Spotify api...

[2017-05-29 19:54] kbecker87 commented on #9
The Applescipt seems to work fine:

![05-29-2017-21 47 06](https://cloud.githubusercontent.com/assets/8436596/26560766/4e561c08-44b9-11e7-9e4c-668b7ae762fe.jpg)

I think I’m having the same issue as in my first post a while ago:

![05-29-2017-21 51 54](https://cloud.githubusercontent.com/assets/8436596/26560781/6fc033f6-44b9-11e7-9e79-f57593e7ffb7.jpg)

[2017-05-30 06:55] felixhageloh commented on #9
@kbecker87 do get the same output if you run the script from the terminal (using `osascript 'Get Current Track.applescript'`)?

[2017-05-30 07:18] kbecker87 commented on #9
The Cover Image does not load if I run the applescript from terminal:

![05-30-2017-09 16 56](https://cloud.githubusercontent.com/assets/8436596/26572104/f124c704-4518-11e7-8cb2-e37185f722fa.jpg)

[2017-05-30 20:16] Pe8er commented on #16
Bummer. I guess I'll go back to last.fm then.

[2017-05-30 20:39] Pe8er commented on #16
Please check if it works for you now: https://github.com/Pe8er/Playbox.widget/blob/master/Playbox.widget.zip

[2017-05-31 05:18] ACPixel commented on #16
yeah, changing it to lastfm is what I did and it started to work perfectly again :)

[2017-05-31 13:05] kbecker87 commented on #9
@Pe8er I tried with a lot of different songs and checked the image url – they all work but I still dont get the widget to show.

![05-31-2017-15 03 20](https://cloud.githubusercontent.com/assets/8436596/26633100/8cd29baa-4612-11e7-985c-0ac3b25b15ca.jpg)
![05-31-2017-15 03 56](https://cloud.githubusercontent.com/assets/8436596/26633104/8f7ba1b2-4612-11e7-9774-52b3d68d19a5.jpg)

[2017-05-31 13:49] kbecker87 commented on #9
It’s `0`

![05-31-2017-15 48 57](https://cloud.githubusercontent.com/assets/8436596/26635018/ae737800-4618-11e7-88be-a4a8c003ca2b.jpg)

[2017-06-06 07:21] felixhageloh commented on #9
Ok, so the command runs without error. However, it might be writing something to stderr, which Übersicht will also treat as an error (it could be the `ApplePersistence=NO` bit).

One way to check would be to append ` 2> /dev/null` to the command and see if that fixes the error:

[code]

[2017-06-06 11:17] kbecker87 commented on #9
Unfortunately appending `2> /dev/null` does not fix the error. Using the command in Terminal:

    [Playbox.widget] osascript 'Track.applescript' 2> /dev/null                                  master  ✱
    Christian Scott aTunde Adjuah @ The Reckoning @ Ruler Rebel @ 196 @ 120 @ https://lastfm-img2.akamaized.net/i/u/300x300/67171e721b1df2fd6edfd829851a5793.png @ false @ false

[2017-06-06 21:10] perryprog opened #18 "Strange characters in AppleScript source"
I just installed this on macOS **High Sierra**, and I figured I would check out Übersicht. Anyway, after installing your widget I was getting errors in the Dev Console, obviously to be expected, this is a developer preview (much buggy):

[code]

I looked in the AppleScript file, and I'm seeing a whole lot of weird characters.

<img width="362" alt="screen shot 2017-06-06 at 5 08 05 pm" src="https:

[2017-06-09 12:59] felixhageloh commented on #9
I didn't have time to look into it deeper. It could be that redirecting stderr (`2> /dev/null`) does not work in this case.

I am pretty sure that stderr output is the problem here. Is there any part of the AppleScript that logs to stderr?

[2017-06-09 16:31] Pe8er commented on #9
@felixhageloh not that I know of. All AppleScript spits out is a string such as this:

[code]

[2017-06-24 02:43] perryprog commented on #18
@ACPixel haha forgot about that. Sorry for the late reply, as I didn't get a notification for this issue for some reason. It turns out the error was related to me not having the Spotify app. Deleting all Spotify related code fixed the issue, and there are now no errors in the console. However, it is not displaying the widget. If I have time this weekend I will do some debugging and try to figure o

[2017-06-24 22:20] perryprog commented on #18
It works 😄 👍

[2017-06-24 22:20] #18 closed

[2017-06-27 19:26] ExactProbability opened #19 "There's an issue when Spotify isn't present on the Mac"
Hi Piotr,

I've been editing the Playbox widget to my needs because Playbox wouldn't show at all on the Desktop despite many tries. I looked at the code for Playbox and edited out the strings that looked for Spotify and tried collecting information from Spotify to show on the Desktop. When Spotify strings are removed(because I use iTunes and Apple Music) Playbox shows just fine - with progress bar

[2017-07-08 22:26] Pe8er commented on #19
Thanks for noticing! I've managed to fix the widget without removing Spotify support. [Check it out.](https://github.com/Pe8er/Playbox.widget/blob/master/Playbox.widget.zip)

[2017-07-08 22:27] #16 closed

[2017-08-10 04:44] Pe8er commented on #19
Closing due to no activity.

[2017-08-10 04:44] #19 closed

[2017-08-24 20:16] Pe8er commented on #9
@kbecker87 do you still have this problem?

[2017-08-25 07:47] kbecker87 commented on #9
Hi @Pe8er, yeah, downloaded the newest release and I’m on the newest Version of Übersicht. I get those errors even if I don’t have iTunes running.

[2017-08-25 17:43] Pe8er commented on #9
I'm so sorry, I can't help you man 😩

[2017-08-28 14:08] kbecker87 commented on #9
@Pe8er I’m guessing it has to do with my mac config then. Thanks for your effort trying to solve my problem! I’ll come back when High Sierra is released and I did an update to see if something’s changed.

[2017-08-28 14:08] #9 closed

[2017-09-05 11:18] kakyoliu opened #21 "It doesn't work on my mac"
now-playing-widget-index-coffee:
"now-playing.widget/lib/Get Current Track.applescript:860:861: script error: 预期是±Ì¥Ô Ωµ»µ»，却找到Œ¥÷™µƒº«∫≈。 (-2741)
"
redraw — client.js:5457
(anonymous function) — client.js:5424
(anonymous function) — client.js:5867
callback — client.js:5054:126
(anonymous function) — client.js:4958
emit — client.js:112
onreadystatechange — client.js:5093

[2017-09-06 19:15] Pe8er commented on #21
Wow, that looks odd! Let's see how can I help you… a few questions:

1. Can you paste the title of the song you're listening to and artist name?

2. Can you show me a screenshot of your System Preferences > Language & Region panel please?

[2017-09-25 16:41] StarCloudes commented on #21
It occurs to me either. It just doesn’t show anything on my mac for both spotify and iTunes. Have any ideas why it happens? (p:I use chinese language on the mac. )

[2017-09-25 17:32] Pe8er commented on #21
@StarCloudes can you paste the title of the song you're listening to and artist name?

[2017-09-26 01:26] StarCloudes commented on #21
Hmm, I change my language to English on my mac and it works!

[2017-09-26 16:29] Pe8er commented on #21
Yes, that is the problem. Chinese characters are breaking the widget. Please paste the title and artist of the song you're listening to.

[2017-10-08 14:33] pugson opened #22 "Widget stopped working (?)"
Hey @Pe8er, looks like the latest Spotify update (`1.0.65.320.gac7a8e02`) might have broken the widget. It's not displaying on the desktop at all and there are no console errors.

I think it's an issue with `Get Current Track.applescript` — it's not producing any logs. I tried running it inside the _Script Editor.app_ and it was processing endlessly.

[2017-10-08 14:40] pugson commented on #22
Oh, maybe I have a really old version. Let me grab the latest build first.

[2017-10-19 16:50] borgendorf opened #23 "High Sierra 10.13: Tons of AppleEvent errors in system.log"
Hi there - first let me tell you how much I enjoy this widget. It's one of many in my Sidebar stack. I'm trying to track down why my High Sierra system randomly freezes, and in looking through my system.log I noticed this message repeated constantly (21 times each time the script runs)

`osascript[5532]: AppleEvents: received mach msg which wasn't complex type as expected in getMemoryReference.`

[2017-10-24 02:44] pugson commented on #22
Ok I found the culprit. When cloning the repo in the Ubersicht widgets directory it was looking for the AppleScript in `/Playbox.widget/lib/Get Current Track.applescript` where in fact the right location was `Playbox.widget/Playbox.widget/lib/Get Current Track.applescript`.

[2017-10-24 02:44] #22 closed

[2017-10-24 15:11] ziyunch commented on #21
Hi Pe8er, I found that this issue also occurs on most of classical music, as the title usually contains lots of symbols. One example is Anne-Sophie Mutter, Manfred Honeck & Berlin Philharmonic's Violin Concerto in A Minor, Op. 53, B. 108: I. Allegro ma non troppo - Quasi moderato.

[2017-10-24 23:53] Pe8er commented on #21
@ziyunch Can you show me a screenshot of your System Preferences > Language & Region panel please?

FYI it works for me, most likely because I have the primary language set to English. Let's figure out if we can make it work with your language though.

[2017-10-24 23:57] Pe8er commented on #23
I see the same messages in the console. It doesn't cause any freezes on my system though - guess I got lucky :) I found out that [other people noticed this bug too](https://forums.developer.apple.com/thread/88126) and seems like it is OS related. According to that discussion, it might be fixed in 10.3.1. Let's wait for it!

[2017-10-25 00:00] Pe8er commented on #22
![nevermind](https://media.giphy.com/media/e7Fdp0v1fZgti/giphy.gif)

[2017-10-25 00:02] pugson commented on #22
¯\_(ツ)_/¯

[2017-10-25 20:28] ziyunch commented on #21
My region is set to US and preferred language is English(US).

[2017-10-25 21:57] Pe8er commented on #21
I just played what seems to be the exact same track as you from Apple Music and the widget worked for me:

![image](https://i.imgur.com/cI95p0l.png)

Can you tell me what exactly is happening on your end when you play this track?

[2017-10-27 08:36] Frankie7462654 opened #24 "playbox don't work on my mac"
hi~
my system is macOS High Sierra 10.13 (17A405)
Ubersicht verson is 1.2(51)

1. i copy playboxwidget to the widget folder
2. ubersicht could load it
3. i play music on spotify or itunes
4. there is nothin on my display
5. and there is no issues or bug reports
6. i don't edit the index.coffee file

![image](https://user-images.githubusercontent.com/29622772/32095135-b9471912-bb34-11e7-9f89-488173

[2017-10-27 17:47] ziyunch commented on #21
@Pe8er

Here is what it looks on my end.
<img width="200" alt="screen shot 2017-10-27 at 13 19 59" src="https://user-images.githubusercontent.com/5696435/32116711-c0c65a10-bb19-11e7-83be-ad833b120857.png">

As I mentioned before, my region is set to US and preferred language is English(US). So there is nothing to do with the language.

I think this issue happens on those songs containing symbols i

[2017-10-27 19:49] Pe8er commented on #21
Oh, I see what is happening. I was under the impression that the widget wasn't working at all for you, but the problem is specifically related to the artwork.

Here's how it works: unless a song is in your library, the widget can't access the artwork on iTunes. You've observed that yourself. So, in such cases the widget searches for artwork on Last.fm.

I found that the widget wasn't encoding some

[2017-10-27 19:51] Pe8er commented on #24
Hey Frankie!

Can you please do the following:

1. Open Playbox.widget/lib/get current track.applescript in Script Editor.
2. Hit CMD + R to run it.
3. Tell me what appears in the Results pane at the bottom of the window.

[2017-10-27 23:34] Pe8er commented on #22
Dobra robota 😄

[2017-10-27 23:58] pugson commented on #22
Żeby nie było nie siedziałem nad tym 2 tygodnie haha

[2017-10-31 19:36] borgendorf commented on #23
FYI 10.13.1 didn't fix the AppleScript message. Oh well. 🤷‍♂️

[2017-11-01 20:56] Pe8er commented on #23
I just installed 10.3.2 Dev Beta (17C60c) and these error messages are gone! Can you try the dev beta @borgendorf?

[2017-11-03 06:28] Frankie7462654 commented on #24
hi，this is debug console,  all errors are the same, hope could help you to fix it

**this is debug console**
![image](https://user-images.githubusercontent.com/29622772/32361850-3374bbda-c09f-11e7-832f-8d8ecf06097b.png)

**this is open in terminal**
![image](https://user-images.githubusercontent.com/29622772/32361949-20f309e8-c0a0-11e7-8ad8-a7dcbc248ea6.png)

**this is run in coderunner**
![image]

[2017-11-03 15:58] Pe8er commented on #24
Thank you for these! Can you tell me what music are you listening to?

[2017-11-08 17:48] borgendorf commented on #23
I'm not on the developer releases, but I'm glad Apple fixed that bug. I'm confident it is not contributing to my freeze issues now, but fewer errors are always better. 😄

[2017-11-09 02:23] Frankie7462654 commented on #24
I just play some Browse and Radio music，and some random music，and my spotify is a free account

i'm in china，so i used proxy to listen music on spotify，maybe this is the problem？

you can tell me how to help you to find the problem

😄

[2018-02-08 14:16] destinationunknown opened #26 "Show Playbox even when music is paused"
Currently the playbox disappears when I pause Spotify, even when I leave the app running. It would be nice to keep the window up even when music is paused. Perhaps you could write the song metadata to a local buffer and then update the view from that buffer as opposed to directly updating the view?

[2018-02-19 23:10] Pe8er commented on #26
Hey!

The widget does save song metadata to a local buffer. If you'd like it to not hide when music is paused, you need to get rid of the following `if` statement in line 261 of index.coffee:

[code]

and then the following in line 279:

[code]

And finally correct indentation on everything in between.

Hope this helps! I'm Sorry I'm asking you to do it manually but I no longer develop/support thi

[2018-02-19 23:11] #23 closed

[2018-02-19 23:11] #21 closed

[2018-03-02 17:31] destinationunknown commented on #26
Thanks! Much appreciated.

[2018-03-02 17:31] #26 closed

[2018-07-29 06:44] AndyChen2005121 commented on #24
@ghost Same problem for me...
(You should improve your English though, for we are both Chinese)

[2018-07-29 06:49] AndyChen2005121 commented on #24
Script editor here:
<img width="926" alt="2018-07-29 2 48 25" src="https://user-images.githubusercontent.com/22784008/43363762-7e6bb27a-933e-11e8-95bb-f3c4c93433c8.png">
The widget just doesn't come up.

[2018-08-01 20:48] vanshady opened #27 "Playbox not showing up"
It doesn't work for both Spotify and iTunes.

Ran the applescript and it gave the correct music metainfo.

[2019-03-13 16:23] singhpaul opened #28 "/lib cache directory not pruned"
Hi, thanks for writing such a useful plugin.

While cleaning up disk space recently we noticed that the plugin's /lib directory was using over 1GB of space. This is because the album covers are cached to disk but not pruned (or not pruned frequently enough). Not sure what the caching scheme is but we noticed that the file name enumeration went up to 999 starting at 0. So perhaps they are being pru

[2019-07-15 02:29] ChopstixCS opened #31 "Not working at all with MacOS Catalina"
Script doesn't work as iTunes is now music app, also doesn't get spotify either.
Most likely as Macintosh HD protects the OS with a read only volume now so System Events does not work. This is a theory.

[2019-07-15 03:13] ChopstixCS commented on #31
Fixed it.
[PlayboxCatalina.widget.zip](https://github.com/Pe8er/Playbox.widget/files/3390750/PlayboxCatalina.widget.zip)

[2019-08-05 20:52] Pe8er commented on #28
Thank you for the report and suggestion! The script should delete old cover every time a new cover is extracted from iTunes…I just checked and the command I wrote was obviously broken.

[2019-08-05 20:52] #28 closed

[2019-08-05 20:54] Pe8er commented on #31
I don't have Catalina yet. Will update the widget once I have it installed. Thanks for the fix!

[2019-08-05 21:14] Pe8er commented on #24
Sorry for the late reply! I switched to Spotify recently and I was able to improve the script accordingly. Please check out the latest version and let me know:

https://github.com/Pe8er/Playbox.widget/releases/tag/1.3

[2019-09-09 23:19] Mediocrat opened #32 "Cannot Coerce Scale to Unit"
Program opens and keeps the box in the lower left corner but also opens a large white box in the top left:
<img width="999" alt="Screen Shot 2019-09-09 at 7 11 55 PM" src="https://user-images.githubusercontent.com/55115374/64572743-a3202b80-d336-11e9-9690-367e969a17ba.png">

and also displays this:
<img width="338" alt="Screen Shot 2019-09-09 at 7 11 43 PM" src="https://user-images.githubuserconte

[2019-09-21 04:12] darrenchang07 commented on #32
yeah, same issue here. can anyone help?

[2019-09-22 18:30] ericlarosa commented on #32
This happens because Scale is not defined when used for the first time:
- line 123: `width mainDimension * Scale`

You can move it's definition (if statement in line 159: `  if #{options.widgetVariant} == medium...`) above it, or simply change scale directly in line 123 to either 1 (large) or 0.75 (medium)

[2019-10-03 01:44] hnspn opened #33 "JSX rewrite"
Any plans to rewrite it using the new JSX format?

[2019-10-14 17:20] FivePixels commented on #32
Also having this issue - I'm on macOS Mojave 10.14.6.

[2019-10-30 00:48] yuruyuri16 commented on #32
me too

[2019-10-30 04:14] dionmunk commented on #32
@Mediocrat The problem is that there is a `Playbox.widget` folder inside your `Playbox.widget` folder. Not sure why the download comes with this, but if you remove the folder it should solve the problem.

So, inside your .../Ubersicht/widgets/Playbox.widget folder there should only be an index.coffee file and a folder named lib.

[2019-10-30 14:34] dionmunk commented on #32
@yuruyuri16 Are you using macOS Catalina? If so, you need to edit the `get current track.applescript` file and replace everything that says `iTunes` with the word `Music`.

[2019-10-30 14:43] yuruyuri16 commented on #32
Got it working. Thank you.

[2019-11-11 12:01] Paradiddley commented on #31
@ChopstixCS good job getting the script to work with Apple Music, although artwork isn't showing for me? I've allowed full disk access for Übersicht to locate and cache the images but even that didn't work.

<img width="199" alt="Screenshot 2019-11-11 at 11 47 49" src="https://user-images.githubusercontent.com/2915723/68585404-0edb5d80-047a-11ea-9613-d53a32016add.png">

Log output from the `get cu

[2019-11-11 15:39] dionmunk commented on #31
@Paradiddley Do you have Apple Music? If so, songs played using an Apple Music subscription won't have artwork. The artwork is stored differently for those tracks, and there isn't a way that I am aware of to get the album art from those tracks.

[2019-11-15 04:10] yuruyuri16 commented on #32
@Pe8er https://stackoverflow.com/questions/498323/find-mac-osx-version-installed-using-applescript This is could help determine the macOS version.

[2019-12-01 06:18] 3raxton commented on #31
Thanks for working on this @ChopstixCS. I've got some code that I added to the Catalina version of Playbox and would like to commit it. Should I commit directly to @Pe8er's repo, or would it be better for you to fork his repo and add the code that you wrote and have me add my code after that?

Alternatively, I could fork the Playbox repo, and I could add your code as well as mine, but I don't like

[2019-12-01 06:20] ChopstixCS commented on #31
Fork it

On Sun, Dec 1, 2019 at 1:18 AM Braxton Huff <notifications@github.com>
wrote:

[2019-12-01 06:23] 3raxton commented on #31
I want to make it clear that I will be submitting a pull request once I fork it. Just to confirm, you're comfortable with me committing your code as well as mine.

[2019-12-01 06:24] ChopstixCS commented on #31
👍🏻 all I did was replace iTunes with music

On Sun, Dec 1, 2019 at 1:23 AM Braxton Huff <notifications@github.com>
wrote:

[2019-12-01 06:25] 3raxton commented on #31
Great, will do. Cheers!

[2019-12-05 13:05] ThatWolfie opened #35 "Song content isn't displayed when using Spotify on another device."
**This is more of a suggestion than an issue, so feel free to dismiss this.**

When using playing Spotify, but outputting on another device, Playbox sometimes fails to display the **album art**, **Song name** and **artist**, and the **progress bar**.

### Steps to reproduce
- Using **MacOS 1.14.4** + **PlayBox 1.3**
- Launch Spotify and play a song with the output being another device.
![Screen Sh

[2020-03-28 12:44] markpanado commented on #32
Thank you @dionmunk

[2020-07-03 17:15] Shep029 opened #36 "(noob) Playbox not working on Mojave"
So I couldn't figure out how to fix this, here are my steps

Downloaded the zip, extracted the zip, put the files on the widgets folder

This showed up
![Jepretan Layar 2020-07-04 pukul 00 08 55](https://user-images.githubusercontent.com/67233237/86488329-dc74cc80-bd8a-11ea-8744-0c83f55037c9.png)

Opened the applescript

When I tried to run it, it asked me to locate where's Spotify

does not havin

[2020-07-29 18:00] dinouse opened #37 "Moving Widget"
hey i want to move widget but with my own locate. I dont really use to coding, hope u can help.

[2020-09-04 07:57] #37 closed

[2021-01-05 05:55] JordanTranchina opened #38 "Any chance you can build this for MacOS Big Sur's widget sidebar?"
Any chance you can build this for MacOS Big Sur's widget sidebar?

[2021-05-02 13:22] akash200409 commented on #32
I am on big sur it's not working for me on spotify @dionmunk help

[2021-06-09 16:26] dionmunk commented on #32
@akash200409 The same thing should apply as I mentioned in https://github.com/Pe8er/Playbox.widget/issues/32#issuecomment-547935427.

[2021-07-01 18:03] italo-amaya-utec opened #39 "Idk what this is"
[code]

that is the error in the debug console
I asume is something with applescript

[2021-10-17 06:32] Gtocss opened #40 "issue on big sur"
stylus:99:27
    95|     left 0
    96|     margin 0
    97|     color fColor1
    98|     background-color white
    99|     width mainDimension * Scale
---------------------------------^
   100|     max-width @width
   101|     padding 8px
   102|     border-radius 0 0 5px 5px
cannot coerce Scale to unit
    at ".text" (stylus:90:3)
    at "#Playbox-widget-Playbox-widget-index-coffee" (stylus:17

[2021-10-17 06:51] Gtocss commented on #32
can u pls give me  ur file cuz mine isn't working

[2021-10-24 12:16] anamorph opened #41 "App Name is no longer iTunes"
iTunes app has been renamed to Music app.

[2021-11-16 21:45] Gtocss commented on #38
even i need it

[2021-12-23 14:41] AlarisFerrera commented on #40
I have the same issue.

[2022-01-28 23:40] not-alaris opened #42 "Doesn't work on monterey"
It won't show up at all when I try to use it on Monterey.

[2022-06-11 11:24] Soft-Bred commented on #40
same here